<div class='tab-bar'>
  <nav class='sheet-navigation'></nav>
  <div class='sheet-navigation-controls'>
    <a data-action='maximize' title='{{localize "sheet-link.rolodex.controls.maximize"}}'><i class='fa fa-maximize'></i></a>
    <a data-action='ping' title='{{localize "sheet-link.rolodex.controls.ping"}}'><i class='fa fa-bullseye-pointer'></i></a>
  </div>
</div>
<div class='sheet-container'></div>
