#rolodex {
  > .window-content {
    padding: 0;

    > .tab-bar {
      display: flex;
      flex: 0;
      position: relative;

      > .sheet-navigation {
        border-bottom: 1px solid var(--color-border-light-primary);
        display: flex;
        flex: 1;

        > a {
          border-right: 1px solid var(--color-border-light-primary);
          color: var(--color-pf-alternate);
          display: block;
          font: 400 var(--font-size-14) var(--serif);
          overflow: hidden;
          padding: 0.5rem;
          position: relative;
          text-align: center;
          text-overflow: ellipsis;
          width: 140px;
          white-space: nowrap;

          &.active {
            color: var(--color-pf-primary);
            font-weight: bold;
          }

          > i {
            margin-left: 0.5rem;
            margin-right: 0.25rem;
            opacity: 0.1;
          }

          &:hover > i {
            opacity: 1;
          }

          &.activeCombatant {
            &::after {
              bottom: 0;
              content: '\f71d';
              font-family: var(--fa-style-family, 'FontAwesome');
              font-weight: 300;
              left: 50%;
              position: absolute;
              transform: translateX(-7px);
            }
          }
        }
      }

      > .sheet-navigation-controls {
        background: var(--bg-dark);
        border-left: 1px solid var(--color-border-light-primary);
        bottom: 0;
        box-shadow: -3px 0 5px 0 rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        right: 0;
        padding: 0 0.25rem;
        position: absolute;
        top: 0;
      }
    }

    > .sheet-container {
      display: flex;
      overflow: hidden;

      > .rolodex-sheet {
        flex: 1;
        position: relative;
      }
    }
  }

  .rolodex-sheet > .window-app {
    flex: 1;
    margin: 0;
    position: unset;
  }

  .rolodex-sheet > .window-app > .window-header,
  .rolodex-sheet > .window-app > .window-resizable-handle {
    display: none;
  }
}
